pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

*.asv
hw1/*.slx
*.odt#
*.autosave

hw1/src/matlab/hw_elevator.slx
*.swp